
@{
    ViewBag.Title = "NotFound";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="SHORTCUT ICON" href="resources/img/hd.png" type="image/x-icon">

    <title>Учебное пособие</title>
</head>
<body>
    <div style="text-align: center; font-size: 4em; margin-top: 40px; font-family: sans-serif;">404</div>
    <div style="text-align: center; font-size: 4em; font-family: sans-serif;">Ресурс не найден</div>
</body>
